#Protect XSD folder
"XSD 2.0" merge=ours
"XSD 2.0/" merge=ours
"XSD 2.0/*" merge=ours

#Safeguard important tables
LLM/TableOfContents.md merge=union
LLM/TableOfExamples.md merge=union

#Make XML pretty again
*.xml diff=xml
